/**
 * Created by Ago Ahas on 06/04/2015.
 */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 90%;
    margin: 0 auto;
}

ul li {
    margin-bottom: 10px;
    border: 1px solid white;
    text-align: center;
}

ul li:hover {
    border: 1px solid red;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

h1 {
    color: white;
    font-size: 19px;
    border-bottom: 2px solid white;
    margin-bottom: 5px;
}

#sideNav {
    position: absolute;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100px;
    background: black;

}

#sideNav img {
    width: 70px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#topNav {
    height: 45px;
    top: 0;
    position: absolute;
    background: black;
    width: 100%;
}

#topNav button {
    left: 100px;
    position: relative;
}

#contentContainer {
    width: 100%;
    height: 100%;
    margin-left: 100px;
}

#content {
    width: 100%;
    height: 100%;
    top: 45px;
    position: relative;
}

#addRssFeed {
    height: 100%;
    background: green;
    border: 1px solid lightgreen;
    color: white;
}

#removeRssFeed {
    height: 100%;
    background: #800700;
    border: 1px solid #ee8680;
    color: white;
}

#showMenu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: black;
    display: none;
}

#showMenu img {
    width: 45px;
}

#deleteList {
    width: 70%;
    height: 70%;
    position: absolute;
    left: 20%;
    top: 20%;
    display: none;
    z-index: 50;
    background: red;
}